aside{
    padding: 20px;
    width: 250px;
}
    aside li{
        list-style: none;
    }

    aside a{
        display: block;
        padding: 8px 0;
        text-decoration: none;
        text-transform: uppercase;
        font-size: 1.2em;
        transition: border .2s, padding .2s;
        padding-left: 10px;
        
    }
    aside a:hover{
        padding-left: 20px;
    }
    aside li:nth-child(1) .active{
        border-left: 10px solid green;
    }
    aside li:nth-child(2) .active{
        border-left: 10px solid rgb(19, 0, 128);
    }
    li:nth-child(3) .active{
        border-left: 10px solid rgb(128, 0, 107);
    }
    aside li:nth-child(4) .active{
        border-left: 10px solid rgb(241, 199, 8);
    }